/.vs/
PetShopDoBairro/bin/
PetShopDoBairro/obj/
PetShopDoBairro/bin/PetShopDoBairro.dll
PetShopDoBairro/bin/PetShopDoBairro.dll
PetShopDoBairro/bin/PetShopDoBairro.pdb
PetShopDoBairro/obj/Debug/PetShopDoBairro.csproj.CoreCompileInputs.cache
PetShopDoBairro/obj/Debug/PetShopDoBairro.csproj.FileListAbsolute.txt
PetShopDoBairro/obj/Debug/PetShopDoBairro.csprojAssemblyReference.cache
PetShopDoBairro/obj/Debug/PetShopDoBairro.dll
PetShopDoBairro/obj/Debug/PetShopDoBairro.pdb